fastapi==0.109.0
uvicorn==0.27.0 
pydantic==2.5.3 
python-multipart==0.0.6
absl-py==2.4.0 
annotated-doc==0.0.4 
annotated-types==0.7.0 
anyio==4.13.0
cffi==2.0.0 
click==8.3.2
cmake==4.3.2
colorama==0.4.6 
flatbuffers==25.12.19 
h11==0.16.0 
idna==3.11
opencv-python==4.13.0.92
packaging==26.1
pillow==12.2.0 
PyAudio==0.2.14  
pycparser==3.0 
pydantic_core==2.46.0 
pyparsing==3.3.2 
python-dateutil==2.9.0.post0 
six==1.17.0
sounddevice==0.5.5 
starlette==1.0.0
typing-inspection==0.4.2 
typing_extensions==4.15.0
python==3.10.13
